name: Docker Image CI
on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to TCR
        uses: docker/login-action@v3
        with:
          registry: xswitch.tencentcloudcr.com
          username: ${{ secrets.DOCKER_LOGIN_USER }}
          password: ${{ secrets.DOCKER_LOGIN_PASSWORD }}

      - name: Build and push multi-arch
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          file: ./Dockerfile-bookworm
          tags: xswitch.tencentcloudcr.com/xswitch/xswitch:bookworm
          secrets: |
            GIT_USER=${{ secrets.GIT_USER }}
            GIT_TOKEN=${{ secrets.GIT_TOKEN }}
